<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Eastgate Square</title>
		<link rel="shortcut icon" href="///codecloud.cdn.speedyrails.net/sites/5a6a54eb6e6f647da51e0100/image/vnd.microsoft.icon/1516979866096/old_favicon.ico" type="image/x-icon" />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
		<link href="https://cdn.jsdelivr.net/npm/vue2-animate@1.0.4/dist/vue2-animate.min.css" rel="stylesheet">
		<link href="//codecloud.cdn.speedyrails.net/sites/59bac7db6e6f644f22ba0000/text/css/1510935230000/mapplic.css" rel="stylesheet">
        <link href="//codecloud.cdn.speedyrails.net/sites/59bac7db6e6f644f22ba0000/text/css/1485967426000/map.css" rel="stylesheet">
		<script src="https://use.fontawesome.com/9cb86d00ca.js"></script>
		<link rel="stylesheet" href="/style.css">
		<script type="text/javascript">
             var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-50587834-9']);
            _gaq.push(['_trackPageview']);
        
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
         </script>
	</head>
	<body>
	    {%raw-%} 
    		<div id="app" v-cloak v-if="dataLoaded">
    			<loader v-if="!dataLoaded"></loader>
    			<div class="row" >
    			    <top-header></top-header>
    			    <header-component v-if="show_header"></header-component>
    				<transition name="custom-classes-transition" enter-active-class="fadeIn">
    					<router-view :locale="locale"></router-view>
    				</transition>
    			</div>
    		</div>
    		<div class='modal-backdrop custom_backdrop hidden_now' id="popup_backdrop"></div>
    	{%endraw-%} 
		<script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
		<script src="https://unpkg.com/es6-shim@0.35.3/es6-shim.min.js"></script>
		<script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
	</body>
</html>